/* Global styles */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: 100vh;
  background: url("https://images.unsplash.com/photo-1506968430777-bf7784a87f23?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D") no-repeat center/cover;
}

.main-container{
  width: 80vw;
  max-width: 600px;
  min-height: 350px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: white;
  border-radius: 16px;
}

.buttons-container{
  padding: 20px;
}

#chronometer{
  width: 100%;
  font-size: 80px;
  font-weight: bold;
  user-select: none;
  font-family: 'Noto Sans Thai', sans-serif;
}

button{
  padding: 10px;
  margin: 10px;
  font-size: 50px;
  width: 80px;
  height: 80px;
  cursor: pointer;
}

#start-pause-button,
#start-pause-button.start i{
  background-color: #08e008;
}

#start-pause-button:hover,
#start-pause-button.start:hover i{
  background-color: #0bb20b;
}

#start-pause-button.pause,
#start-pause-button.pause i{
  background-color: #ffdc00;
}

#start-pause-button.pause:hover,
#start-pause-button.pause:hover i{
  background-color: #dabe08;
}

#reset-button{
  background-color: #ebeef0;
}

#reset-button:hover{
  background-color: #a1b2ba;
}